@import url("https://fonts.googleapis.com/css2?family=Mogra&family=Poppins:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark: rgb(31, 30, 30);
  --dark-light: rgb(53 69 78);
  --body-background: #0e74af;
  --body-secondary-background: #06060654;
  --list-background: #c8d4e2;
}

.App {
  font-family: "Poppins", sans-serif;
  background-color: var(--body-background);
  height: 100vh;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: var(--body-background);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--body-secondary-background);
  border-radius: 5px;
}
